  <main>
  <p id="notice">
    <%= flash[:notice] %>
  </p>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
        <h2>User info</h2>
        <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2>
              <%= pluralize(@user.errors.count, "error") %> prohibited this book from being saved:</h2>
            <ul>
              <% @user.errors.full_messages.each do |message| %>
                <li>
                  <%= message %>
                </li>
                <% end %>
            </ul>
          </div>
          <% end %>
            <%= form_with model: @user, url: user_path, local: true do |f| %> 
              <div class="form-group">
                <%= f.label :name, "Name" %>
                  <%= f.text_field :name, class: "form-control name" %>
              </div>
              <div class="form-group">
                <%= attachment_image_tag @user, :profile_image, "Image" %> <label for="user_image">Image</label>
                  <%= f.attachment_field :profile_image, class: "form-control-file user_image" %>
              </div>
              <div class="form-group">
                <%= f.label :introduction, "Introduction" %>
                  <%= f.text_area :introduction, class: "form-control introduction" %>
              </div>
              <div class="field">
                <%= f.label :account_type, "Account Type" %><br>
                <%= f.radio_button :account_type, "public_account" %>
                <%= f.label :account_type, "Public Account" %>
                <%= f.radio_button :account_type, "private_account" %>
                <%= f.label :account_type, "Private Account" %>
              </div>
              <div class="form-group">
                <%= f.submit "Update User", class: "btn btn-secondary", data: { disable_with: "Update User" } %>
              </div>
              <% end %>
      </div>
    </div>
  </div>
</main>