<!DOCTYPE html>
<html lang="en" data-turbolinks="false">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Photomap</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>  <!-- ここを追記 -->
    <%= yield %>
    <%= render 'layouts/footer' %>  <!-- ここを追記 -->
  </body>
</html>
